/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
}

#nav {

}

#nav  li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    /* display: none; */
    position: absolute;
    background-color: #fff;
}

#nav .subnav a {
    color: #000;
}

#nav .subnav li:hover {
    background-color: #ccc;
}

#slider {
    min-height: 500px;
    background-color: #333;
}

#content {

}

#footer {

}
