/* Reset CSS */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-family: Arial, Helvetica, sans-serif;
}

#main {
}

#header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 46px;
   background-color: #000;
}

#nav {
   display: inline-block;
}

#nav,
.subnav {
   list-style-type: none;
}

#nav > li {
   display: inline-block;
}

#nav li {
   position: relative;
}

#nav > li > a {
   color: #fff;
   text-transform: uppercase;
   padding: 0 24px;
   line-height: 46px;
}

#nav li a {
   text-decoration: none;
   display: inline-block;
}

#nav li:hover .subnav {
   display: block;
}

#nav > li:hover > a {
   color: #000;
   background-color: #ccc;
}

#nav > .nav-arrow-down {
   font-size: 14px;
}

#nav .subnav {
   min-width: 160px;
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #fff;
   box-shadow: 0 0 10px gray;
}

#nav .subnav a {
   color: #000;
   padding: 0 16px;
   line-height: 32px;
}

#nav .subnav li:hover {
   background-color: #ccc;
}

#header > .search-btn {
   float: right;
   padding: 0 21px;
}

#header > .search-btn:hover {
   background-color: red;
   cursor: pointer;
}

#header > .search-btn > .search-icon {
   color: #fff;
   font-size: 20px;
   line-height: 46px;
}

#slider {
   /* min-height: 500px;
   background-color: #333; */
   ma
}

#content {
}

#footer {
}
